
div.courseContainer{
  background-color: white;
  width: 400px;
  position: relative;
  left: 0;
  right: 0;
}

#your{
  position: relative;
  top: 0.8em;
  left: 2em;
}

#textLogo{
position: relative;
top: -1.015em;
left: 5em;
opacity: 0.7;
}

#imageLogo{
  position: relative;
  top: -6.5em;
  height: 3.5em;
}

#courseInformation{
  position: relative;
  padding-left: 45px;
  height: 50px;
}

#coursesTitle{
  margin-left: 44px;
  font-size: 24px;
}

#footer{
  background-color: black;
  position: relative;
  color: white;
  width: 100%;
  top: 122em;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  padding-right:0 ;
  padding-left: 0;
  overflow: hidden;
}
#header{
  background-color: #043e9b;
  color: white;
  position: relative;
  font-size: 14px;
  width: 100%;
  height: 5em;
  margin: 0;
  padding: 0px;
  top: -1.5em;
  overflow: hidden;

}


#menuButton{
  background-color: Transparent;
  border: none;
  color: white;
  outline: none;
  top: 27.5px;
  right: 15px;
  position: absolute;
}

#mountainsImage{
  position: relative;
  background-image: url("images/mountains.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  width: 100%;
  top: 20em;
  height: 20em;
  top: -1.35em;

  padding-right:0 ;
  padding-left: 0;
    overflow: hidden;
}

#text{
  position: absolute;
  text-align: center;
  left: 5em;
  right:0;
  bottom: 48em;
  color: white;
  font-size: 14px;
  top: 5em;
}

#callToAction{
  position: absolute;
  background-color: white;
  border: white;
  color: #043e9b;
  font-weight: bold;
  height: 30px;
  width: 210px;
  left: 127px;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  top: 20em;
}

#loadMore{
  position: absolute;
  background-color: #043e9b;
  border: #043e9b;
  color: white;
  height: 30px;
  width: 150px;
  left: 140px;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  top: 150em;
}

li+li{
  position: relative;
  padding-top: 4px;
  padding-bottom: 4px;
  border-top: 1px solid #e3e9ef;
  border-spacing: 200px;

  }
   #links{
     list-style-type: none;
     position: relative;
     right:48px;
     width: 29em;
     top: 120em;
   }

   #specialLink{
     background-color:#e3e9ef;
   }
