
div.courseContainer{
  width: 400px;
  position: relative;
  left: 0;
  right: 0;
}

#your{
  position: relative;
  top: 0.8em;
  left: 2em;
}

#textLogo{
  position: relative;
  top: -1.015em;
  left: 5em;
  opacity: 0.7;
}

#imageLogo{
  position: relative;
  top: -6.5em;
  height: 3.5em;
}

#courseInformation{
  position: relative;
  padding-left: 45px;
  height: 50px;
}

#coursesTitle{
  margin-left: 44px;
  font-size: 24px;
}

#footer{
  background-color: black;
  position: relative;
  color: white;
  width: 100%;
  top: 122em;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  padding-right:0 ;
  padding-left: 0;
  overflow: hidden;

}
#header{
  background-color: #043e9b;
  color: white;
  position: relative;
  font-size: 14px;
  width: 100%;
  height: 5em;
  margin: 0;
  padding: 0px;
  top: -1.5em;
  overflow: hidden;

}


#menuButton{
  background-color: Transparent;
  border: none;
  color: white;
  outline: none;
  top: 27.5px;
  right: 15px;
  position: absolute;
}

#mountainsImage{
  position: relative;
  background-image: url("images/mountains.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  width: 100%;
  top: 20em;
  height: 20em;
  top: 3em;
  overflow: hidden;
}

#text{
  position: absolute;
  text-align: center;
  align:center;
  left: 5em;
  right:0;
  bottom: 48em;
  color: white;
  font-size: 14px;
  top: 5em;
}

#callToAction{
  position: absolute;
  background-color: white;
  border: white;
  color: #043e9b;
  font-weight: bold;
  height: 30px;
  width: 210px;
  left: 127px;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  top: 20em;

}

#loadMore{
  position: absolute;
  background-color: #043e9b;
  border: #043e9b;
  color: white;
  height: 30px;
  width: 150px;
  left: 140px;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  top: 150em;
}

li+li{
  position: relative;
  padding-top: 4px;
  padding-bottom: 4px;
  border-top: 1px solid #e3e9ef;
  border-spacing: 200px;


}
#links{
  list-style-type: none;
  position: relative;
  right:48px;
  width: 29em;
  top: 120em;
  margin-left: 0.5em;

}

#linksBackground{
  position: absolute;
  width:19.95%;
  height: 22em;
  left: 63.2%;
  top: 25em;
  background-color: white;
}

#specialLink{
  background-color:#e3e9ef;
}
#skiingImage{
  width: 350px;
  display: inline;
}

#desktopHeader{
  position: relative;
  background-color: white;
  width: 100%;
  height: 3em;
  margin: 0;
  padding:0;
  top: -20em;
  overflow: hidden;
  display: none;
  padding-bottom: 10px;

}

button.desktopFirstHeaderButton{
  position: absolute;
  left: 70em;
  top: 2.1em;
  background-color: #043e9b;
  color: white;
  border: #043e9b;
  border-radius: 3px;
  padding-top: 2px;
  padding-bottom: 2px;
  overflow: hidden;
}

button.desktopSecondHeaderButton{
  position: absolute;
  left: 77em;
  top: 2.1em;
  background-color: #043e9b;
  color: white;
  border: #043e9b;
  border-radius: 3px;
  padding-top: 2px;
  padding-bottom: 2px;
  overflow: hidden;
}

button.desktopThirdHeaderButton{
  position: absolute;
  left: 84em;
  top: 2.1em;
  background-color: #043e9b;
  color: white;
  border: #043e9b;
  border-radius: 3px;
  padding-top: 2px;
  padding-bottom: 2px;
  overflow: hidden;
}
@media(min-width:500px){
  div.courseContainer{
    margin-left:20%;
    width:28%;
  }
  #skiingImage{
    width:20em;

  }
  #links{
    left:60%;
    width:20%;
    top: -14em;

  }

  #menuButton{
    display:none;
  }
  body{
    background-color: #c5d8f7;
  }

  #header{
    width: 16%;
    left: 20%;
    top: -29em;
    padding-bottom: 2em;
    padding-top: 1em;
    border-radius: 4px;

  }

  #desktopHeader{
    display: inline-block;
  }

  #callToAction{
    left: 45%;
  }
}
